*{
	padding: 0px;
	margin:0px;
}

.clearfix:after{
	content: "";
	display:table;
	clear:both;
}

p, a, h1, h2, h3{
	font-family:  "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

img{
	display:block; /*removes 1px on bottom that is generateed automatically*/
}

@font-face {
	font-family: 'Montserrat Ultra Light';
	font-style: normal;
	font-weight: normal;
	src: local('Montserrat Ultra Light'), url('../fonts/Montserrat-UltraLight.woff') format('woff');
}